@import "./index.css";
@import "./Home.css";
@import "./About.css";
@import "./Workout.css";

.App {
  text-align: center;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.about.container {
  width: 65%;
}

.container .title {
  font-family: cursive;
  font-size: 50px;
}

.App .ui.segment {
  word-wrap: break-word;
  transition: all 0.2s;
  cursor: pointer;
}

.App .ui.segment .header {
  font-weight: 700;
  font-size: 1.28571429em;
  margin-top: -0.21425em;
  line-height: 1.28571429em;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: var(--font-color-dark-gray);
  margin-bottom: 5px;
}

.App .ui.segment .meta {
  font-size: 1em;
  color: var(--font-color-gray);
}

.App .ui.segment:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

body h1 {
  text-align: center;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

.ui.cards > .card > .content {
  height: 100px;
  overflow: hidden;
}

.ui.grid {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mealListing, .mealDetail h1{
  font-family: cursive;
  font-size: 50px;
}

.ui.placeholder.segment {
  opacity: 0.9;
}

.row .ui.block.header::before{
  height: 0;
}