@import "./Home.css";
@import "./Meals.css";
@import "./Workout.css";

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.about.container {
  width: 65%;
}

.container .title{
  font-family: cursive;
  font-size: 50px;
}

body h1{
  text-align: center;
}

.show {
  display: inherit;
}

.hide{
  display: none;
}