@import "./index.css";
@import "./Home.css";
@import "./About.css";
@import "./Meals.css";
@import "./Workout.css";

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.about.container {
  width: 65%;
}

.container .title {
  font-family: cursive;
  font-size: 50px;
}

.App .ui.segment {
  width: 290px;
  word-wrap: break-word;
  transition: all 0.2s;
  cursor: pointer;
}

.App .ui.segment .header {
  font-weight: 700;
  font-size: 1.28571429em;
  margin-top: -0.21425em;
  line-height: 1.28571429em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: var(--font-color-dark-gray);
  margin-bottom: 5px;
}

.App .ui.segment .meta {
  font-size: 1em;
  color: var(--font-color-gray);
}

.App .ui.segment:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

body h1 {
  text-align: center;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}
