:root{
  --bg-color-blue: #00c4cc;
  --bg-color-light-blue: #b0f8f3;
  --form-color-gray: #e9e9ed;
  --font-color-gray: rgba(0,0,0,.4);
  --font-color-dark-gray: rgba(0,0,0,.85);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body p, body a, body button {
  font-size: 16px;
}

/* div#root{
  height: calc(100% - 60px);
} */