.myNavbar {
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg,#00c4cc,#7d2ae8);
  display: flex;
  flex-direction: row;
}

.myNavbar .container, footer .container {
  display: flex;
}

.myNavbar .leftSide, footer .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.myNavbar .leftSide img, footer .leftSide img {
  width: 70px;
}

.myNavbar .leftSide img {
  margin-left: 15px;
}

.myNavbar .rightSide, footer .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myNavbar .rightSide a:last-child {
  margin-left: 10px;
}

.myNavbar a, footer a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 16px;
}

.myNavbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.myNavbar .leftSide svg {
  font-size: 40px;
}

.myNavbar {
  padding-left: 0px;
}

.myNavbar img {
  display: inherit;
}

.myNavbar .hiddenLinks {
  display: none;
  margin-left: 20px;
}

.myNavbar a {
  width: 70px;
  margin: 5px;
}

.myNavbar .hiddenLinks a {
  width: 45px;
}

.myFooter {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg,#00c4cc,#7d2ae8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.socialMedia svg {
  color: white;
  margin: 0 5px 0 3px;
  font-size: 45px;
  cursor: pointer;
  transition: all .4s;
}

.socialMedia svg:hover{
  color: #0a58ca;
}

footer p {
  color: white;
  font-size: 14px;
  display: inherit;
}

@media only screen and (max-width: 900px) {
  .myNavbar .rightSide a {
    width: 70px;
  }

  .myNavbar .leftSide, footer .leftSide {
    padding-left: 5px;
  }

  footer .rightSide a {
    width: 30px;
  }

  footer p{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .myNavbar .rightSide a {
    display: none;
  }

  .myNavbar .hiddenLinks {
    display: inherit;
    padding-left: 10px;
    margin-left: 30px;
  }

  .myNavbar .hiddenLinks svg {
    width: 40px;
    margin: 5px;
  }

  .myNavbar .rightSide{
    justify-content: flex-end;
    padding-right: 50px;
  }

  footer .rightSide {
    justify-content: space-between;
    padding-right: 20px;
  }

  .rightSide.socialMedia a {
    margin-left: 6px;
  }
}

@media only screen and (min-width: 600px) {
  .myNavbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .myNavbar .hiddenLinks {
    margin-left: 60px;
  }

}