.search {
  cursor: pointer;
}

.searchInputs {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.search input {
  background-color: var(--form-color-gray);
  border: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
  padding: 15px;
  height: 46px;
  width: 260px;
}

.searchIcon {
  height: 46px;
  width: 40px;
  background-color: var(--form-color-gray);
  display: grid;
  place-items: center;
  overflow: hidden;
  border-top-right-radius: 4px;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: var(--form-color-gray);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

.dataItem a {
  text-decoration: none;
}

.dataItem a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
