.myNavbar {
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg,#00c4cc,#7d2ae8);
  display: flex;
  flex-direction: row;
}

.myNavbar .container, .myFooter .container {
  display: flex;
}

.myNavbar .leftSide, .myFooter .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.myNavbar .leftSide img, .myFooter .leftSide img {
  width: 70px;
}

.myNavbar .rightSide, .myFooter .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myNavbar a, .myFooter a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 16px;
}

.myNavbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.myNavbar .rightSide svg {
  font-size: 40px;
}

.myNavbar #open {
  padding-left: 0px;
}

.myNavbar #open img {
  display: none;
}

.myNavbar #close img {
  display: inherit;
}

.myNavbar #open .hiddenLinks {
  display: inherit;
}

.myNavbar #close .hiddenLinks {
  display: none;
}

.myNavbar #open a {
  width: 70px;
  margin: 5px;
}

.myFooter {
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg,#00c4cc,#7d2ae8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.socialMedia svg {
  color: white;
  margin: 0 5px 0 3px;
  font-size: 50px;
  cursor: pointer;
  transition: all .4s;
}

.socialMedia svg:hover{
  color: #0a58ca;

}

.myFooter p {
  color: white;
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  .myNavbar .rightSide a {
    width: 70px;
  }

  .myNavbar .leftSide, .myFooter .leftSide {
    padding-left: 50px;
  }

  .myFooter .rightSide a {
    width: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .myNavbar .rightSide a {
    display: none;
  }

  .myNavbar .rightSide{
    justify-content: flex-end;
    padding-right: 50px;
  }

  .myNavbar .rightSide button {
    display: inherit;
  }

  .myFooter .rightSide {
    justify-content: space-between;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .myNavbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}